*.mp4
*.png
*.xls
cypress/fixtures/loginData.json
cypress/fixtures/ADFS_MFA_Data.json
cypress/fixtures/CRPO_MFA_Data.json
cypress/fixtures/Common_Login_Data.json
cypress/fixtures/LB_loginData.json
node_modules